.card {
  --icon-bg: #3f75fe;
  --icon-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 232px;
  width: 384px;
  padding-top: 1.5em;
}

.cardbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
  background-color: white;
  height: 232px;
  width: 384px;
  border-radius: 0.5em;
  padding: 3.5rem 1rem 1rem;
  transition: box-shadow 0.3s ease-out;
  cursor: default;
}

.cardbody h2 {
  color: #111827;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem; /* 155.556% */
  margin: 0;
}

.cardbody p {
  color: #6b7280;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  margin: 0;
}

.cardbody:hover {
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
}

.iconContainer {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%; /* align left edge to center of card */
  transform: translateX(-50%); /* shift 50% of width to the left to center */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 3em;
  height: 3em;
  background-color: var(--icon-bg);
  color: var(--icon-color);
  border-radius: 0.5em;
  padding: 1rem;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

.icon {
  transform: scale(1.25);
  transform-origin: center;
}
