* {
  box-sizing: border-box;
}

:root {
  --navy: #1f2937;
  --pink: #da6aec;
  --red: #f43f5e;
  --blue: #2f74dc;
  --green: #22cd90;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e9e3ff;
  font-family: "Inter", sans-serif;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/************************* 
Avatar
*************************/

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3rem solid white;
}

.avatar > img {
  width: 100%;
}

.avatar-letters {
  background-color: var(--red);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-family: "Karla", sans-serif;
}

.avatar-icon {
  background-color: var(--navy);
}

.avatar > svg {
  height: 100%;
  width: 100%;
  transform: translateY(20px);
  color: whitesmoke;
}

/*
Classes below will help with rendering random 
background colors for the extra credit
*/
.navy {
  background-color: #1f2937;
}

.pink {
  background-color: #da6aec;
}

.red {
  background-color: #f43f5e;
}

.blue {
  background-color: #2f74dc;
}

.green {
  background-color: #22cd90;
}

/************************* 
Menu
*************************/

.menu {
  position: relative;
  display: inline-block;
}

.menu-button {
  background-color: white;
}

.menu-dropdown {
  position: absolute;
  left: 0;
  margin-top: 3px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: white;
}

.menu-item {
  color: #4b5563;
  padding: 0.75rem;
  cursor: pointer;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.menu-item:hover {
  background-color: whitesmoke;
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid #6b7280;
}

/************************* 
Star
*************************/

.star {
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  user-select: none;
  color: black;
}

.star.filled {
  color: orange;
}

/************************* 
Box
*************************/

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
}

.box.filled {
  background-color: blue;
}
