* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e9e3ff;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #e5e7eb;
  color: #4b5563;
  border: 1px solid #6b7280;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-weight: 700;
  padding: 9px 17px;
  border-radius: 6px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

button.button-sm {
  padding: 7px 11px;
  font-size: 12px;
}

button.button-lg {
  padding: 30px 40px;
}

button.success {
  border: 1px solid #047857;
  background: #ecfdf5;
  color: #047857;
}

button.warning {
  border: 1px solid #fbbf24;
  background: #fffbeb;
  color: #997417;
}

button.danger {
  border: 1px solid #f87171;
  background: #fef2f2;
  color: #f87171;
}
