.banner.success {
  --banner-bg: #ecfdf5;
  --banner-title-color: #065f46;
  --banner-text-color: #047857;
  --banner-icon-color: #34d399;
}

.banner.warning {
  --banner-bg: #fffbeb;
  --banner-title-color: #92400e;
  --banner-text-color: #b45309;
  --banner-icon-color: #fbbf24;
}

.banner.danger {
  --banner-bg: #fef2f2;
  --banner-title-color: #991b1b;
  --banner-text-color: #dc2626;
  --banner-icon-color: #f87171;
}

.banner.neutral {
  --banner-bg: #eff6ff;
  --banner-title-color: #1e40af;
  --banner-text-color: #1c51b9;
  --banner-icon-color: #60a5fa;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  width: 100%;
  max-width: 70vw;
  padding: 1rem;
  border-radius: 0.375rem;
  background-color: var(--banner-bg);
}

.title {
  margin: 0;
  color: var(--banner-title-color);
}

.text {
  margin: 0;
  font-weight: 400;
  color: var(--banner-text-color);
}

.body {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  text-align: left;
}

.icon {
  color: var(--banner-icon-color);
}
